<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .list{
            
            margin: 200px 600px 0px 0px;
        }
        .title{
            font-size: 20px;
            font-weight: bold;
            color: red;
            border-top:1px solid #dddddd;
        }

        .list li:hover{
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
  <section id="login">
    <div class="col-md-6 col-md-offset-3">
      <h2>Login</h2>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userid.valid }">
          <label for="userid">Userid</label>
          <input type="text" class="form-control" name="userid" [(ngModel)]="model.userid" #userid="ngModel" required />
          <div *ngIf="f.submitted && !userid.valid" class="help-block">Userid is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Login</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/enroll']" class="btn btn-link">Enroll</a>
        </div>
      </form>
    </div>
    <div class="col-md-6 how-to">
      <h4>系统使用说明:</h4>
      <ol>
        <li>
          <p>管理员Admin通过选择“Register New User”登录并创建用户</p>
        </li>
        <li>
          <p>用户进入登录页面并点击Enroll注册。Enroll只能执行一次</p>
        </li>
      </ol>
      <p>一旦用户创建并且注册，就可以登录，并将根据自身用户类型跳转到适当的控制页面。</p>
    </div>
  </section>
    <ul class="list">
        <h2 class="title">冷链核酸检测阳性通报</h2>
        <li>
            7月3日，大连海关从装载厄瓜多尔生产的冻南美白虾集装箱内壁一个样本及厄瓜多尔生产的冻南美白虾的三个外包装样本中检出新冠病毒核酸阳性。
        </li>
        <li>
            8月11日，深圳市龙岗区对进口冷链食品排查检测，8月12日经复核，发现1 份从巴西进口的冻鸡翅表面样品新冠病毒核酸检测结果呈阳性。 　　　　
        </li>
        <li>
            11月7日，山西太原进口冷冻带鱼制品外包装检出阳性。
        </li>
        <li>
            11月7日晚，山东省德州市报告该市德城区在进口冷链食品常规抽检中，发现从天津港进口的一批冷冻猪肉核酸检测呈阳性。
        </li>
        <li>
            12月15日，重庆市高新区发现辖区冷链物流中心某企业1件进口冷冻牛肉外包装新冠病毒核酸检测为阳性。
        </li>
    </ul>

</body>
</html>